<!-- <ion-content class="has-header loginpage-content">
    <div class="logo">
    </div>
    <div class="loginform">
        <form [formGroup]="loginForm" novalidate (submit)="signIn()">

            <ion-grid class="form-body">
                <ion-row>

                    <ion-col col-12>
                        <ion-input type="email" name="email_phone" formControlName="email_phone"
                            [ngClass]="displayFieldCss(loginForm,'email_phone')" placeholder="Email"></ion-input>
                        <span class="error-msg" *ngIf="isFieldValid(loginForm,'email_phone')">Please enter a valid Email.</span>
                    </ion-col>

                    <ion-col col-12>
                        <ion-input type="password" name="password" formControlName="password"
                            [ngClass]="displayFieldCss(loginForm,'password')" placeholder="Password"></ion-input>
                        <span class="error-msg" *ngIf="isFieldValid(loginForm,'password')">Please enter a Password.</span>
                    </ion-col>
                </ion-row>
                <ion-row responsive-sm class="entry-bottom">
                    <ion-col class="pl-0 pr-0">
                        <button ion-button color="primary" block>Login</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
    <div >
            <p class="text-center not-member" (click)="gotoPage('SignupPage')"> Signup? <span class="creat">Signup</span> </p>
        </div>
</ion-content> -->

<ion-content class="has-header loginpage-content loginPage">
    <div class="logo">
    </div>
    <div class="loginform">

        <div class="image-logo">
            <img src="../../assets/imgs/logo.png">
        </div>

        <ion-segment class="login-segment" color="primary" [(ngModel)]="loginType"
            (ionChange)="onSegmentChange(loginType)">
            <ion-segment-button value="email">
                Login with Email
            </ion-segment-button>
            <ion-segment-button value="mobile">
                Login with Phone
            </ion-segment-button>
        </ion-segment>



<div *ngIf="loginType=='email'">
        <form [formGroup]="loginForm" novalidate (submit)="signIn()" >
            <ion-grid class="form-body">
                <ion-row>
                    <ion-col col-12>
                        <ion-input type="email" name="email" formControlName="email"
                            [ngClass]="displayFieldCss(loginForm,'email')" placeholder="Email"></ion-input>
                        <span class="error-msg" *ngIf="isFieldValid(loginForm,'email')">Please enter a valid
                            Email.</span>
                    </ion-col>
                    <ion-col col-12>
                        <ion-input type="password" name="password" formControlName="password"
                            [ngClass]="displayFieldCss(loginForm,'password')" placeholder="Password"></ion-input>
                        <span class="error-msg" *ngIf="isFieldValid(loginForm,'password')">Please enter a
                            Password.</span>
                    </ion-col>
                </ion-row>
                <ion-row responsive-sm class="entry-bottom">

                    <ion-col col-12 class="pl-0 pr-0" text-center>
                        <button ion-button color="primary" round [disabled]="!loginForm.valid">Login</button>
                    </ion-col>
                    <ion-col col-12 class="pl-0 pr-0" text-center>
                        <span class="font-size" (click)="gotoPage('ForgotPage')">Forgotten Password?</span>
                    </ion-col>
                    <ion-col col-12 class="pl-0 pr-0" text-center>
                        <span style="color: crimson;">Don't have an account?</span>
                    </ion-col>
                    <ion-col col-12>
                        <ion-col class="pl-0 pr-0">
                            <button ion-button color="primary" block class="font-button-color"
                                (click)="gotoPage('VendorregPage')">Sign up as Vendor</button>
                        </ion-col>
                        <ion-col class="pl-0 pr-0">
                            <button ion-button color="primary" block class="font-button-color"
                                (click)="gotoPage('SignupPage')">Sign up as customer</button>
                        </ion-col>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
    <div *ngIf="loginType=='mobile'">

   
        <form [formGroup]="loginMobileForm" novalidate (submit)="signInMobile()" *ngIf="!showOtp">
            <ion-grid class="form-body">
                <ion-row>

                    <ion-col col-12>
                        <ion-input type="text" name="mobile" formControlName="mobile"
                            [ngClass]="displayFieldCss(loginMobileForm,'mobile')" placeholder="Mobile Number">
                        </ion-input>
                        <span class="error-msg" *ngIf="isFieldValid(loginMobileForm,'mobile')">Please enter a Mobile
                            Number.</span>
                    </ion-col>
                </ion-row>
                <ion-row responsive-sm class="entry-bottom">

                    <ion-col col-12 class="pl-0 pr-0" text-center>
                        <button ion-button color="primary" round [disabled]="!loginMobileForm.valid">Login</button>
                    </ion-col>
                    <ion-col col-12 class="pl-0 pr-0" text-center>
                        <span class="font-size" (click)="gotoPage('ForgotPage')">Forgotten Password?</span>
                    </ion-col>
                    <ion-col col-12 class="pl-0 pr-0" text-center>
                        <span style="color: crimson;">Don't have an account?</span>
                    </ion-col>
                    <ion-col col-12>
                        <ion-col class="pl-0 pr-0">
                            <button ion-button color="primary" block class="font-button-color"
                                (click)="gotoPage('VendorregPage')">Sign up as Vendor</button>
                        </ion-col>
                        <ion-col class="pl-0 pr-0">
                            <button ion-button color="primary" block class="font-button-color"
                                (click)="gotoPage('SignupPage')">Sign up as customer</button>
                        </ion-col>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>

        <form [formGroup]="otpForm" novalidate (submit)="signInOtp()"  *ngIf="showOtp">
                <ion-grid class="form-body">
                    <ion-row>
    
                        <ion-col col-12>
                            <ion-input type="text" name="otp" formControlName="otp"
                                [ngClass]="displayFieldCss(otpForm,'otp')" placeholder="OTP">
                            </ion-input>
                            <span class="error-msg" *ngIf="isFieldValid(otpForm,'otp')">Please enter a OTP.</span>
                        </ion-col>
                    </ion-row>
                    <ion-row responsive-sm class="entry-bottom">
    
                        <ion-col col-12 class="pl-0 pr-0" text-center>
                            <button ion-button color="primary" round [disabled]="!otpForm.valid">Submit</button>
                        </ion-col>
                        <ion-col col-12 class="pl-0 pr-0" text-center>
                            <span class="font-size" (click)="gotoPage('ForgotPage')">Forgotten Password?</span>
                        </ion-col>
                        <ion-col col-12 class="pl-0 pr-0" text-center>
                            <span style="color: crimson;">Don't have an account?</span>
                        </ion-col>
                        <ion-col col-12>
                            <ion-col class="pl-0 pr-0">
                                <button ion-button color="primary" block class="font-button-color"
                                    (click)="gotoPage('VendorregPage')">Sign up as Vendor</button>
                            </ion-col>
                            <ion-col class="pl-0 pr-0">
                                <button ion-button color="primary" block class="font-button-color"
                                    (click)="gotoPage('SignupPage')">Sign up as customer</button>
                            </ion-col>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>

        </div>
    </div>
    <div>
        <!-- <p class="text-center not-member" (click)="gotoPage('SignupPage')"> Signup? <span class="creat">Signup</span> </p> -->
    </div>
</ion-content>