<!-- <ion-header>
    <ion-navbar>
       <ion-title>Login</ion-title>
    </ion-navbar>
 </ion-header> -->

<ion-content class="has-header enquire-content">

    <form [formGroup]="enquireForm" novalidate (submit)="addEnquiry()">

        <ion-grid class="form-body">
            <ion-row>

                <ion-col col-12>
                    <ion-input type="text" name="user_name" formControlName="user_name" [ngClass]="displayFieldCss(enquireForm,'user_name')"
                        placeholder="Name"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(enquireForm,'user_name')">Please enter a valid Name.</span>
                </ion-col>

                <ion-col col-12>
                    <ion-input type="text" name="user_phone" formControlName="user_phone" [ngClass]="displayFieldCss(enquireForm,'user_phone')"
                        placeholder="Mobile"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(enquireForm,'user_phone')">Please enter a mobile.</span>
                </ion-col>

                <ion-col col-12>
                    <ion-input type="email" name="user_email" formControlName="user_email" [ngClass]="displayFieldCss(enquireForm,'user_email')"
                        placeholder="Email"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(enquireForm,'user_email')">Please enter a valid Email.</span>
                </ion-col>


                <!-- <ion-col col-12>
                    <ion-input type="text" name="user_org_type" formControlName="user_org_type"
                        [ngClass]="displayFieldCss(enquireForm,'user_org_type')" placeholder="Organization"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(enquireForm,'user_org_type')">Please enter a valid
                        organization.</span>
                </ion-col> -->
                <ion-col col-12>
                        <ion-select col-12 interface="alert" placeholder="Organization Type" name="user_org_type" formControlName="user_org_type" [ngClass]="displayFieldCss(enquireForm,'user_org_type')">
                          <ion-option *ngFor="let businessMode of business_type">{{businessMode.type}}</ion-option>
                        </ion-select>
                        <span class="error-msg" *ngIf="isFieldValid(enquireForm,'user_org_type')">Please enter Organization .</span>
                      </ion-col>

                      <ion-col col-12>
                 
                        <ion-select col-12 interface="popover" placeholder="product Name" name="user_product" formControlName="user_product" [ngClass]="displayFieldCss(enquireForm,'user_product')" multiple="true" cancelText="cancel" okText="ok">
                          <ion-option *ngFor="let productname of allProduct" value="{{productname.id}}">{{productname.product_name}}</ion-option>
                        </ion-select>
                        <span class="error-msg" *ngIf="isFieldValid(enquireForm,'user_product')">Please select Product .</span>
                      </ion-col>

                

               
                <ion-col col-12>
                    <ion-input type="text" name="user_project_qty" formControlName="user_project_qty" [ngClass]="displayFieldCss(enquireForm,'user_project_qty')"
                        placeholder="Minimum Order Quantity"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(enquireForm,'user_project_qty')">Please enter Minimum Order Quantity.</span>
            </ion-col>

            <ion-col col-12>
                    <ion-input type="text" name="user_project_unit" formControlName="user_project_unit" [ngClass]="displayFieldCss(enquireForm,'user_project_unit')"
                        placeholder="Enter Unit"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(enquireForm,'user_project_unit')">Please enter Unit.</span>
            </ion-col>

            <ion-col col-12>
                <ion-input type="text" name="user_delivery_location" formControlName="user_delivery_location"
                    [ngClass]="displayFieldCss(enquireForm,'user_delivery_location')" placeholder="Delivery Location"></ion-input>
                <span class="error-msg" *ngIf="isFieldValid(enquireForm,'user_delivery_location')">Please enter a valid Delivery Location.</span>
            </ion-col>

            <ion-col col-12>
                <ion-input type="text" name="user_quote" formControlName="user_quote" [ngClass]="displayFieldCss(enquireForm,'user_quote')"
                    placeholder="Remarks"></ion-input>
                <span class="error-msg" *ngIf="isFieldValid(enquireForm,'user_quote')">Please enter Remarks.</span>
            </ion-col>

            </ion-row>
            <ion-row responsive-sm class="entry-bottom">
                <ion-col class="pl-0 pr-0">
                    <button ion-button color="primary" round small [disabled]="!enquireForm.valid">Submit</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
<ion-footer>
    <page-footer></page-footer>
</ion-footer>