<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

   <ion-navbar>
    <ion-title>contact</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <div class="contact-details">
    <ion-label color="primary" padding>
      <h4>Contact Details - Head Office</h4></ion-label>
    <ion-list no-lines>
      <ion-item>
        <ion-icon ios="ios-globe" md="md-globe" item-start></ion-icon>
        Mindedge Solutions Pvt Ltd.
      </ion-item>

      <ion-item text-wrap>
          <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
        1985, Chakgaria, 1st floor, Sammilani Park,
        Near Hiland Park, Kolkata-700075
      </ion-item>

      <ion-item text-wrap>
          <ion-icon ios="ios-call" md="md-call"></ion-icon>
        ConstroMat Customer Care : 7980382098
      </ion-item>

      <ion-item text-wrap>
          <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
        Sales enquiry: sales@constromat.com
      </ion-item>

      <ion-item text-wrap>
          <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
        Write to us: info@constromat.com
      </ion-item>
    </ion-list>
  </div>
  <div class="contact-form">
      <ion-label color="primary" padding>
        <h4>Contact Form</h4>
      </ion-label>
      <form [formGroup]="contactForm" novalidate (submit)="sendContact()">

          <ion-grid class="form-body">
              <ion-row>

                  <ion-col col-12>
                      <ion-input type="text" name="name" formControlName="name"
                          [ngClass]="displayFieldCss(contactForm,'name')" placeholder="Name"></ion-input>
                      <span class="error-msg" *ngIf="isFieldValid(contactForm,'name')">Please enter a Name.</span>
                  </ion-col>

                  <ion-col col-12>
                      <ion-input type="text" name="phone" formControlName="phone"
                          [ngClass]="displayFieldCss(contactForm,'phone')" placeholder="Mobile"></ion-input>
                      <span class="error-msg" *ngIf="isFieldValid(contactForm,'phone')">Please enter a  Mobile.</span>
                  </ion-col>

                  <ion-col col-12>
                      <ion-input type="email" name="email" formControlName="email"
                          [ngClass]="displayFieldCss(contactForm,'email')" placeholder="email"></ion-input>
                      <span class="error-msg" *ngIf="isFieldValid(contactForm,'email')">Please enter a Password.</span>
                  </ion-col>
            

              <ion-col col-12>
                  <ion-input type="text" name="message" formControlName="message"
                      [ngClass]="displayFieldCss(contactForm,'message')" placeholder="Message"></ion-input>
                  <span class="error-msg" *ngIf="isFieldValid(contactForm,'message')">Please enter a Message.</span>
              </ion-col>
            </ion-row>


            <ion-row responsive-sm class="entry-bottom">
                <ion-col class="pl-0 pr-0">
                    <button ion-button color="primary" round small [disabled]="!contactForm.valid">Submit</button>
                </ion-col>
            </ion-row>
          </ion-grid>
      </form>
  </div>
  <div style="height:200px;">
    <div #map id="map"></div>
  </div>



</ion-content>
