<ion-header *ngIf="!isHeaderHidden">
    <ion-navbar hideBackButton="{{hideBackButton}}">
        <ion-buttons left>
            <button ion-button menuToggle color="light" *ngIf="hideBackButton">
                <ion-icon name="menu"></ion-icon>
                <!-- <ion-title></ion-title> -->
            </button>
            <button ion-button color="light" *ngIf="!hideBackButton" (click)="goBack()">
                <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back">
                </ion-icon>
            </button>
        </ion-buttons>
        <ion-title class="header-title">
            {{headerTitle}}
        </ion-title>
        <ion-buttons right>
            <button ion-button icon-only class="basket-img" (click)="gotoPage('AddorderPage')">
                <ion-icon ios="ios-search" md="md-search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar class="sub-header" no-padding *ngIf="!isSubHeaderHidden">
        <ion-segment [(ngModel)]="customsegment" color="primary" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="HomePage">
                Home
            </ion-segment-button>
            <ion-segment-button value="EnquirePage">
                Enquire Now
            </ion-segment-button>
            <ion-segment-button value="LoginPage" [class.display-none]="isLoggedin">
                Login
            </ion-segment-button>
            <ion-segment-button value="ProfileeditPage" [class.display-none]="!isLoggedin">
                Profile
            </ion-segment-button>
            <ion-segment-button value="ContactPage">
                Contact
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>



<ion-menu [content]="mycontent" swipeEnabled="false">
        <ion-content class="menu-nav app-html">
            <ion-item>
                <h2>
                    <span (click)="menuClose()" class="arrow-forward">
                        <!-- <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon> -->
                        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
                    </span>
                </h2>
            </ion-item>
             <ion-grid class="form-body">
                <ion-row justify-content-center>
    
                    <div class="nav-bar-text">
                        <ion-item no-padding text-center class="sidebar-avatar">
                            <ion-avatar text-center>
                                <img *ngIf="isLoggedin" class="profile-img" src="{{baseimg + logged_user_image}}">
                                <img *ngIf="!isLoggedin" class="profile-img" src="assets/imgs/logo.png">
                            </ion-avatar>
                            <h2 *ngIf="isLoggedin">{{logged_user_name}}</h2>
                            <h2 *ngIf="!isLoggedin">Guest</h2>
                        </ion-item>
                        <button *ngIf="isLoggedin" ion-button icon-only class="basket-img" round (click)="logOut()">
                            Logout
                        </button>
                    </div>
    
                </ion-row>
                <ion-row>
                    <ion-col col-12 class="pl-0 pr-0" text-center>
    
    
                    </ion-col>
    
                    <ion-col col-12>
                        <button class="orders-text" ion-item (click)="gotoPage('HomePage')">
                            <div class="nav-bar-text" style="color: crimson;">
                                Home
                            </div>
                        </button>
                    </ion-col>
                    <ion-col col-12>
                        <button class="orders-text" ion-item (click)="openPage()">
                            <div class="nav-bar-text">
                                About Us
                            </div>
                        </button>
                    </ion-col>
                    <ion-col col-12>
                        <button class="orders-text" ion-item (click)="openPage('http://166.62.54.122/constromat/terms-condition')">
                            <div class="nav-bar-text">
                                Terms & Conditions
                            </div>
                        </button>
                    </ion-col>
                    <ion-col col-12>
                        <button class="orders-text" ion-item (click)="openPage('http://166.62.54.122/constromat/privacy-policy')">
                            <div class="nav-bar-text">
                                Privacy Policy
                            </div>
                        </button>
                    </ion-col>
                    <ion-col col-12>
                        <button class="orders-text" ion-item (click)="openPage('http://166.62.54.122/constromat/faq')">
                            <div class="nav-bar-text">
                                FAQ?
                            </div>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row justify-content-center>
                    <ion-col col-4></ion-col>
                    <ion-col col-1>
    
                        <ion-icon name="logo-facebook" (click)="facebook()"></ion-icon>
                    </ion-col>
    
                    <ion-col col-1>
                        <ion-icon ios="logo-instagram" md="logo-instagram" (click)="instagram()"></ion-icon>
                    </ion-col>
    
                    <ion-col col-1>
                        <ion-icon ios="logo-twitter" md="logo-twitter" (click)="twitter()"></ion-icon>
    
                    </ion-col>
                    <ion-col col-4></ion-col>
                </ion-row>
            </ion-grid>
            <!-- <ion-list>
                  
                     <button class="orders-text" ion-item (click)="gotoPage('OrdersPage')" *ngIf="isLoggedin">
                        My Orders
                    </button>
                    <button class="orders-text" ion-item (click)="gotoPage('LoginPage')" *ngIf="!isLoggedin">
                        My Orders
                    </button>
    
                    <button class="orders-text" ion-item (click)="gotoPage('CategoryPage')">
                        Categories
                    </button> 
                </ion-list>
                <ion-list>
    
                </ion-list>
                <ion-list>
    
                </ion-list>
    
                <ion-list>
    
                </ion-list>
    
                <ion-list>
                    <button class="orders-text" ion-item (click)="gotoPage('FaqPage')">
    
                        FAQ?
                    </button>
                </ion-list> -->
    
            <ion-card class="delivery-sidebar">
            </ion-card>
        </ion-content>
    </ion-menu>
<ion-content>
    <ion-nav #mycontent [root]="rootPage" swipeBackEnabled="false"></ion-nav>
</ion-content>
