<ion-content class="has-header">
    <!-- <div class="logo">
        <img src="assets/imgs/logo.png" alt="Ionic logo">
    </div>
        <ion-title>
            <h3 class="entry-form-title">Signup Page</h3>
        </ion-title> -->
    <form [formGroup]="signupForm" novalidate (submit)="signUp()">

        <ion-grid class="form-body">
            <ion-row>
                <ion-col col-12>
                    <ion-input type="text" name="name" formControlName="name" [ngClass]="displayFieldCss('name')"
                        placeholder="First Name"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid('name')">Please enter a Name.</span>
                </ion-col>
                <ion-col col-12>
                    <ion-input type="text" name="companyname" formControlName="companyname"
                        [ngClass]="displayFieldCss('companyname')" placeholder="Company Name"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid('companyname')">Please enter a Company Name.</span>
                </ion-col>

                <ion-col col-12>
                    <ion-input type="text" name="website" formControlName="website"
                        [ngClass]="displayFieldCss('website')" placeholder="Website"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid('website')">Please enter a Website.</span>
                </ion-col>

                <ion-col col-12>
                    <ion-input type="password" name="password" formControlName="password"
                        [ngClass]="displayFieldCss('password')" placeholder="Password"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid('password')">Please enter a Password.</span>
                </ion-col>

                <ion-col col-12>
                    <ion-input type="text" name="mobile" formControlName="mobile" [ngClass]="displayFieldCss('mobile')"
                        placeholder="Mobile Number"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid('mobile')">Please enter a Mobile.</span>
                </ion-col>

                <ion-col col-12>
                    <ion-input type="email" name="email" formControlName="email" [ngClass]="displayFieldCss('email')"
                        placeholder="Email"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid('email')">Please enter a valid Email.</span>
                </ion-col>

                <ion-col col-12>
                        <ion-input type="text" name="address" formControlName="address" [ngClass]="displayFieldCss('address')"
                            placeholder="Address"></ion-input>
                        <span class="error-msg" *ngIf="isFieldValid('address')">Please enter a Address.</span>
                    </ion-col>


                    <ion-col col-12>
                            <ion-input type="text" name="pincode" formControlName="pincode" [ngClass]="displayFieldCss('pincode')"
                                placeholder="Pincode"></ion-input>
                            <span class="error-msg" *ngIf="isFieldValid('pincode')">Please enter a Pincode.</span>
                        </ion-col>

            </ion-row>
            <ion-row responsive-sm class="entry-bottom">
                <ion-col class="pl-0 pr-0">
                    <button ion-button color="primary" block>Sign Up</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <!-- <div class="forgot-password">
            <p class="text-center not-member" (click)="gotoSignin()"> Existing User? <span class="creat">Login</span> </p>
        </div> -->
</ion-content>