<ion-content class="has-header">
    <!-- <div class="logo">
        <img src="assets/imgs/logo.png" alt="Ionic logo">
    </div>
        <ion-title>
            <h3 class="entry-form-title">Signup Page</h3>
        </ion-title> -->
    <form [formGroup]="signupForm" novalidate (submit)="signUp()">

        <ion-grid class="form-body">
            <ion-row>
                <ion-col col-12>
                    <ion-input type="text" name="name" formControlName="name"
                        [ngClass]="displayFieldCss(signupForm,'name')" placeholder="First Name"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'name')">Please enter a Name.</span>
                </ion-col>
                <ion-col col-12>
                    <ion-input type="text" name="company_name" formControlName="company_name"
                        [ngClass]="displayFieldCss(signupForm,'company_name')" placeholder="Company Name"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'company_name')">Please enter a Company
                        Name.</span>
                </ion-col>

                <ion-col col-12>
                    <ion-input type="text" name="website" formControlName="website"
                        [ngClass]="displayFieldCss(signupForm,'website')" placeholder="Website"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'website')">Please enter a Website.</span>
                </ion-col>

                <ion-col col-12>
                    <ion-select col-12 interface="alert" placeholder="business Type" name="business_type"
                        formControlName="business_type" [ngClass]="displayFieldCss(signupForm,'business_type')">
                        <ion-option *ngFor="let businessMode of businessType">{{businessMode.type}}</ion-option>
                    </ion-select>
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'business_type')">Please enter business type
                        .</span>
                </ion-col>

                <ion-col col-12>
                    <ion-select col-12 interface="alert" placeholder="Last Financial Year Turnover" name="turnover"
                        formControlName="turnover" [ngClass]="displayFieldCss(signupForm,'turnover')">
                        <ion-option *ngFor="let financial of financialTurnover">{{financial.price}}</ion-option>
                    </ion-select>
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'turnover')">Please select last financial
                        year turnover .</span>
                </ion-col>


                <ion-col col-12>
                    <ion-input type="password" name="password" formControlName="password"
                        [ngClass]="displayFieldCss(signupForm,'password')" placeholder="Password"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'password')">Please enter a Password.</span>
                </ion-col>

                <ion-col col-12>
                    <ion-input type="text" name="phone" formControlName="phone"
                        [ngClass]="displayFieldCss(signupForm,'phone')" placeholder="Mobile Number"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'phone')">Please enter a Mobile.</span>
                </ion-col>

                <ion-col col-12>
                    <ion-input type="email" name="email" formControlName="email"
                        [ngClass]="displayFieldCss(signupForm,'email')" placeholder="Email"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'email')">Please enter a valid Email.</span>
                </ion-col>

                <ion-col col-12>
                    <ion-select (ionChange)="getStateValues($event)" col-12 interface="alert" placeholder="Country"
                        name="country" formControlName="country" [ngClass]="displayFieldCss(signupForm,'country')">
                        <ion-option *ngFor="let c of countryList" value="{{c.id}}">{{c.name}}</ion-option>
                    </ion-select>
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'country')">Please choose your country
                        .</span>
                </ion-col>

                <ion-col col-12>
                    <ion-select (ionChange)="getCityValues($event)" col-12 interface="alert" placeholder="State"
                        name="state" formControlName="state" [ngClass]="displayFieldCss(signupForm,'state')">
                        <ion-option *ngFor="let state of stateList" value="{{state.id}}">{{state.name}}</ion-option>
                    </ion-select>
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'state')">Please choose your state.</span>
                </ion-col>

                <ion-col col-12>
                    <ion-select col-12 interface="alert" placeholder="City" name="city" formControlName="city"
                        [ngClass]="displayFieldCss(signupForm,'city')">
                        <ion-option *ngFor="let city of cityList" value="{{city.id}}">{{city.name}}</ion-option>
                    </ion-select>
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'city')">Please choose your city</span>
                </ion-col>

                <ion-col col-12>
                    <ion-input type="text" name="address" formControlName="address"
                        [ngClass]="displayFieldCss(signupForm,'address')" placeholder="Address"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'address')">Please enter a Address.</span>
                </ion-col>


                <ion-col col-12>
                    <ion-input type="text" name="pin_code" formControlName="pin_code"
                        [ngClass]="displayFieldCss(signupForm,'pin_code')" placeholder="Pincode"></ion-input>
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'pin_code')">Please enter a Pincode.</span>
                </ion-col>
                <ion-col col-12>
                    <input type="file" (change)="addPurchaseDoc($event)" formControlName="purchase_doc" id="purchase_doc"
                        placeholder="purchase_doc" [ngClass]="displayFieldCss(signupForm,'purchase_doc')">
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'purchase_doc')">Please Attached Purchase Document</span>
                </ion-col>
                <ion-col col-12>
                    <input type="file" (change)="addTradeDoc($event)" formControlName="trade_doc" id="trade_doc"
                        placeholder="trade_doc" [ngClass]="displayFieldCss(signupForm,'trade_doc')">
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'trade_doc')">Please Attached Trade Document</span>
                </ion-col>
                <ion-col col-12>
                    <input type="file" (change)="addGstDoc($event)" formControlName="gst_doc" id="gst_doc"
                        placeholder="gst_doc" [ngClass]="displayFieldCss(signupForm,'gst_doc')">
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'gst_doc')">Please Attached GST Document</span>
                </ion-col>
                <ion-col col-12>
                    <input type="file" (change)="addDoc($event)" formControlName="add_doc" id="add_doc"
                        placeholder="add_doc" [ngClass]="displayFieldCss(signupForm,'add_doc')">
                    <span class="error-msg" *ngIf="isFieldValid(signupForm,'add_doc')">Please Attached Add-doc</span>
                </ion-col>

            </ion-row>
            <ion-row responsive-sm class="entry-bottom">
                <ion-col class="pl-0 pr-0">
                    <button ion-button color="primary" block [disabled]="!signupForm.valid">Sign Up</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <!-- <div class="forgot-password">
            <p class="text-center not-member" (click)="gotoSignin()"> Existing User? <span class="creat">Login</span> </p>
        </div> -->
</ion-content>